<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DisplayServlet</servlet-name>
  	<display-name>DisplayServlet</display-name>
  	<description></description>
  	<servlet-class>com.namrata.bookkeeping.controller.DisplayServlet</servlet-class>
  	
  </servlet>
  <servlet>
  	<servlet-name>Display</servlet-name>
  	<display-name>Display</display-name>
  	<description></description>
  	<servlet-class>Display</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DisplayServlet</servlet-name>
  	<url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Display</servlet-name>
  	<url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <taglib>
  	<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
  	<taglib-location>/WEB-INF/c.tld</taglib-location>
  </taglib>
</web-app>
